{% extends 'base_adminv2.html' %}
{% load utils %}
 {% load humanize %}
{% block title %}Ordenes de servicio - Listado{% endblock title %}
{% block body %}
    <div class='row'>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3 class='card-title'><strong>Listado de consumibles</strong>(Orden de servicio #{{ServiceOrder.id}})</h3>
                    <h6 class="card-subtitle mb-2 text-muted"> <strong>Modulo:</strong> Ordenes de servicio</h6>
                        <a href='{% url "service_orders:grid" %}' class="btn btn-warning"><i class="bi bi-arrow-left"></i> Volver al listado de ordenes</a>
                    <hr>   
                    {% include 'message.html' %}
                    <div class="col-12">
                        <p class="d-inline-flex gap-1">
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filterBox" aria-expanded="false" aria-controls="filterBox" title="Filtrar"><i class="bi bi-funnel"></i></button>
                            <a href='{% url "service_orders:AddConsumption" ServiceOrder.id  %}' class="btn btn-success"><i class="bi bi-plus-circle" title="Add"></i> Agregar consumible</a>
                        </p>
                        <div class="collapse" id="filterBox">
                            <div class="card card-body">
                                <form class="row g-1" novalidate method='get'>
                                    <h4>Filtros disponibles</h4>
                                    {% for field in ServiceOrderConsumptionFilterForm %}
                                        <div class='mb-3'>
                                            {{field|setValidationClass}}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <div class="invalid-feedback">
                                                    {{error}}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        </div>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Filtrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Código de inventario</th>
                                    <th scope="col">Cantidad consumida</th>
                                    <th scope="col">Precio unitario</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% if serviceOrders_consumptions|length > 0 %}
                                        {% for row in serviceOrders_consumptions %}
                                            <tr>
                                                <td scope="row">{{row.inventory_code}}</td>
                                                <td>{{row.quantity}}</td>
                                                <td>{{row.unit_price}}</td>
                                                <td>{{row.total}}</td>
                                                <td>
                                                    <span><a href="{% url 'service_orders:DeleteConsumption' row.id %}" title='Eliminar'><i class="bi bi-trash"></i></a></span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan='6' class='text-center'><span><strong>Consumibles no encontrados...</strong></span></td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class='col-12'>
                        <span class='fs-2'>Total consumido: </span><span class='fs-1 fw-semibold'>{{ServiceOrder.consumables_total|intcomma}}$</span>
                    </div>
                    <div class="col-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous  %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="page-item active"><a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}</a></li>
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock body %}