{% load utils %}
<div class="col-lg-12">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {# Render(First button) #}
            {% if page_obj.has_previous %}
                {% querystring_without_page as clean_query %}
                <li class="page-item">
                    <a class="page-link" href="?{% if clean_query %}{{clean_query}}&{% endif %}page={{page_obj.previous_page_number}}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {# Render(Always display first page number) #}
            {% if page_obj.number > 3 %}
                {% querystring_without_page as clean_query %}
                <li class="page-item"><a class="page-link" href="?{% if clean_query %}{{clean_query}}&{% endif %}page=1">1</a></li>
                {% if page_obj.number > 4 %}
                    <li class="page-item disabled"><span class="page-link">…</span></li>
                {% endif %}
            {% endif %}

            {# Render(Dynamic pagination) #}
            {% querystring_without_page as clean_query %}
            {% for num in page_obj.paginator.page_range %}
                {% if num >= page_obj.number|add:"-2" and num <= page_obj.number|add:"2" %}
                    {% if num == page_obj.number %}{# Active page #}
                        <li class="page-item active"><span class="page-link">{{num}}</span></li>
                    {% else %}{# render the rest of the pages #}
                        <li class="page-item">
                            <a class="page-link" href="?{% if clean_query %}{{clean_query}}&{% endif %}page={{num}}">{{num}}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {# Render(Always display last page number) #}
            {% if page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                    <li class="page-item disabled"><span class="page-link">…</span></li>
                {% endif %}
                {% querystring_without_page as clean_query %}
                <li class="page-item"><a class="page-link" href="?{% if clean_query %}{{clean_query}}&{% endif %}page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a></li>
            {% endif %}

            {# Render(Last button) #}
            {% if page_obj.has_next %}
                {% querystring_without_page as clean_query %}
                <li class="page-item">
                    <a class="page-link" href="?{% if clean_query %}{{clean_query}}&{% endif %}page={{page_obj.next_page_number}}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>